#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
out\
tmp/
*.tmp
*.class
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

target/
idea/
*.iml
.idea/